.bgColor {
  background-color: rgb(126, 15, 132);
}
.carts {
  color: #fff;
  position: relative;
  font-size: 20px;
}
.carts span {
  padding: 0 5px;
}
.zeroCarts {
  position: absolute;
  bottom: 18px;
  left: 137px;
}
.cartTitle {
  min-height: 120px;
}
.cartimg {
  width: 30%;
}
.cart-caption {
  width: 70%;
}
